<p>
  <mat-checkbox>Me gusta material</mat-checkbox>
</p>
<p>
  about {{!empresa ? 'mi empresa' : empresa}}
</p>
<p>
  <!-- Empresa cliente: {{cliente?.nombre}} -->
</p>
<cas-articulo 
  [titulo]="'El señor de los anillos'"
  [autor]="'Pepe Pérez'">
  Este es el <strong>contenido</strong> del libro <em>El señor de los anillos</em>
</cas-articulo>
<cas-articulo 
  [titulo]="'La guerra de las galaxias'"
  [autor]="'Iam Fleming'">
  Este es el <strong>contenido</strong> del libro <em>La guerra de las galaxias</em>
</cas-articulo> 