body{
    margin: 2rem 3rem;
}

ul.tareas{
    list-style: none;
    padding-left: 0;
    width: 70%;
}

ul.tareas li {
    display: flex;
    justify-content: space-between;
}

ul.tareas li span.borrar-tarea {
    cursor: pointer;
}

.nombre-tarea {
    width: 90%;
}

li{
    margin: 1rem 0;
}

li input{
    width: 1rem;
    margin-right: 1rem;
}

.hecho{
    text-decoration: line-through;
}