:host {
    background-color: brown;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    display: flex;
    margin: 0;
    color: bisque;
    align-items: center;
}
